<h3>View Requests</h3>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let crisisInfo of crisisInfos">
      <div class="card">
        <div class="card-header">
          {{crisisInfo.urgency}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{crisisInfo.message}}</h5>
          <p class="card-text"> - {{crisisInfo.createdBy}}</p>
          <div class="text-right">
          <a (click)="reply(user.id)" class="btn btn-primary">Reply</a>
        </div>
        <div class="text-muted">
          created on: {{crisisInfo.createdAt}}
        </div>
        </div>
      </div>
    </li>
</ul>
